<template lang="html">
    <fe-main :breadcrumbs="['Members', 'Create']">
        <member-form
            title="Edit Member"
            :loading="loading"
            :data="memberData"
            :handleSubmit="handleSubmit"
        />
    </fe-main>
</template>

<script>
import MemberForm from './_partials/MemberForm'
import { mapGetters } from 'vuex'

export default {
    props: ['id'],
    data() {
        return {
            loading: false
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    mounted() {
        this.loading = true
        this.$store.dispatch('showMembers', this.id)
    },
    components: {
        MemberForm
    },
    methods: {
        handleSubmit() {
            this.loading = true
            this.$store.dispatch('createMembers', this.memberData, this.id)
        },
        stopLoading() {
            this.loading = false
        }
    },
    computed: {
        memberData() {
            return this.$store.state.members.selected
        }
    }
}
</script>
