<template lang="html">
    <fe-main :breadcrumbs="['Members']">
        <member-table
            :data="members"
            :loading="table.loading"
            :pagination="membersPagination"
        />
    </fe-main>
</template>

<script>
import MemberTable from './_partials/MemberTable'

import { mapState, mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            table: {
                loading: false
            }
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    mounted() {
        this.table.loading = true
        this.$store.dispatch('fetchMembers')
    },
    components: {
        MemberTable
    },
    methods: {
        stopLoading() {
            this.table.loading = false
        }
    },
    computed: mapGetters(['members', 'membersPagination'])
}
</script>
