<template lang="html">
    <a-card title="Member List">

        <router-link slot="extra" :to="{ name: 'members.create', params: {} }">
            <a-button type="primary">Add Member</a-button>
        </router-link>

        <a-table
            :columns="columns"
            :rowKey="record => record.id"
            :dataSource="data"
            :loading="loading"
            :pagination="false"
        >
            <template slot="action" slot-scope="record">
                <router-link :to="{ name: 'members.edit', params: {id: record.id}}">
                    <a-button type="primary">Edit</a-button>
                </router-link>
                <a-popconfirm title="Are you sure delete this item?" @confirm="deleteMembers(record.id)" okText="Yes" cancelText="No">
                    <a-button type="danger">Delete</a-button>
                </a-popconfirm>
            </template>
        </a-table>

        <a-pagination
            size="small"
            :total="pagination.total"
            :current="pagination.current_page"
             />

    </a-card>
</template>

<script>

const tableColumns = [
    {
        title: 'Name',
        dataIndex: 'name',
        sorter: true,
    },
    {
        title: 'Email',
        dataIndex: 'email',
        sorter: true,
    },
    {
        title: 'Phone',
        dataIndex: 'phone',
        sorter: true,
    },
    {
        title: 'Action',
        key: 'action',
        scopedSlots: { customRender: 'action' }
    }
]

export default {
    props: ['loading', 'data', 'pagination'],
    components: {
    },
    data() {
        return {
            columns: tableColumns
        }
    },
    methods: {
        deleteMembers(id) {
            this.loading = true
            this.$store.dispatch('deleteMembers', id)
        }
    }
}
</script>
