<template lang="html">
    <a-card :title="title">
        <a-form>

            <a-form-item label="Name" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.name" />
            </a-form-item>

            <a-form-item label="Company" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.company" />
            </a-form-item>

            <a-form-item label="Phone" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.phone" />
            </a-form-item>

            <a-form-item label="Email" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.email" />
            </a-form-item>

            <a-form-item label="Gender" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-select style="width: 120px" :value="data.gender" @change="selectGenderChange">
                    <a-select-option value="M">Male</a-select-option>
                    <a-select-option value="F">Female</a-select-option>
                </a-select>
            </a-form-item>

            <a-form-item label="Birthday" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-date-picker :value="dateBirthday" @change="dateBirthdayChange" />
            </a-form-item>

            <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
                <a-button type="primary" html-type="submit" @click="handleSubmit" :loading="loading">
                    Submit
                </a-button>
            </a-form-item>

        </a-form>
    </a-card>
</template>

<script>
import moment from 'moment'

export default {
    props: ['title', 'data', 'loading', 'handleSubmit'],
    methods: {
        selectGenderChange(val) {
            this.data.gender = val
        },
        dateBirthdayChange(date, dateString) {
            this.data.birthday = dateString
        }
    },
    computed: {
        dateBirthday() {
            return this.data.birthday !== null ? moment(this.data.birthday) : moment()
        }
    }
}
</script>
