.sidebar .item i {
    width: 20px;
}

/* .ui.left.sidebar, .ui.right.sidebar {
    width: 282px;
} */

.ui.sidebar {
    top: 54px;
    z-index: 10;
}

.ml-auto {
    margin-left: auto;
}

.pusher {
    padding-top: 75px;
}

body,
body.pushable>.pusher {
    background-color: #f1f4f5;
}

.ui-content {
}

.ui.form .fields:last-child .field.mb-1em {
    margin-bottom: 1em;
}

.mb-20 {
    margin-bottom: 20px!important;
}

.d-none {
    display: none;
}
