.img-thumbnail {
    max-height: 80px;
}

.img-banner-preview {
    max-width: 400px;
    height: auto;
}

.multiselect {
    line-height: 0;
}

.autocomplete {

    .autocomplete__box {
        padding: 0 10px;
    }
    .autocomplete__icon {
        display: flex;

        img {
            width: 10px;
        }
    }
}
