<template lang="html">
    <a-card :title="title">
        <a-form>

            <a-form-item label="Name" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.name" />
            </a-form-item>

            <a-form-item label="Description" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.description" />
            </a-form-item>

            <a-form-item label="Price" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.price" />
            </a-form-item>

            <a-form-item label="Duration (days)" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.duration" />
            </a-form-item>

            <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
                <a-button type="primary" html-type="submit" @click="handleSubmit" :loading="loading">
                    Submit
                </a-button>
            </a-form-item>

        </a-form>
    </a-card>
</template>

<script>
import moment from 'moment'

export default {
    props: ['title', 'data', 'loading', 'handleSubmit'],
}
</script>
