.img-thumbnail {
  max-height: 80px;
}

.img-banner-preview {
  max-width: 400px;
  height: auto;
}

.multiselect {
  line-height: 0;
}

.autocomplete .autocomplete__box {
  padding: 0 10px;
}

.autocomplete .autocomplete__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.autocomplete .autocomplete__icon img {
  width: 10px;
}

