<template lang="html">
  <fe-main :breadcrumbs="['Banners']">
    <banner-table
      :data="banners"
      :loading="table.loading"
      :pagination="bannersPagination"
    />
  </fe-main>
</template>

<script>
import BannerTable from './_partials/BannerTable'
import { mapState, mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            table: {
                loading: false
            }
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    mounted() {
        this.table.loading = true
        this.$store.dispatch('fetchBanners')
    },
    components: {
        BannerTable
    },
    methods: {
        stopLoading() {
            this.table.loading = false
        }
    },
    computed: mapGetters(['banners', 'bannersPagination'])
}
</script>
