<template lang="html">
  <fe-main :breadcrumbs="['Banners', 'Create']">
    <a-card title="Create Banner" class="fe-banner-filter">
      <banner-form
        :loading="loading"
        :handleSubmit="handleSubmit" />
    </a-card>
  </fe-main>
</template>

<script>
import BannerForm from './_partials/BannerForm'

export default {
  data () {
    return {
      loading: false,
      formLayout: 'horizontal',
    }
  },
  components: {
    BannerForm
  },
  created() {
    this.$eventHub.$on('after-response', this.stopLoading)
    this.$eventHub.$on('response-error', this.stopLoading)
  },
  beforeDestroy() {
    this.$eventHub.$off('after-response', this.stopLoading)
    this.$eventHub.$off('response-error', this.stopLoading)
  },
  mounted() {
    this.$store.dispatch('resetSelectedBanner')
  },
  methods: {
    handleSubmit(e) {
      this.loading = true

      this.$store.dispatch('createBanner')
    },
    stopLoading() {
      this.loading = false
    }
  }
}
</script>

<style lang="css" scoped>
</style>
