<template lang="html">
    <fe-main :breadcrumbs="['Members', 'Create']">
        <sales-form
            title="Create Sales"
            :loading="loading"
            :data="memberData"
            :handleSubmit="handleSubmit"
        />
    </fe-main>
</template>

<script>
import SalesForm from './_partials/SalesForm'
import { mapGetters } from 'vuex'

export default {
    props: ['id'],
    data() {
        return {
            loading: false
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    components: {
        SalesForm
    },
    methods: {
        handleSubmit() {
            this.loading = true
            this.$store.dispatch('createSales', this.memberData)
        },
        stopLoading() {
            this.loading = false
        }
    },
    computed: {
        memberData() {
            return this.$store.state.sales.selected
        }
    }
}
</script>
