<template lang="html">
    <fe-main :breadcrumbs="['Sales']">
        <sales-table
            :data="sales"
            :loading="table.loading"
            :pagination="salesPagination"
        />
    </fe-main>
</template>

<script>
import SalesTable from './_partials/SalesTable'

import { mapState, mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            table: {
                loading: false
            }
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    mounted() {
        this.table.loading = true
        this.$store.dispatch('fetchSales')
    },
    components: {
        SalesTable
    },
    methods: {
        stopLoading() {
            this.table.loading = false
        }
    },
    computed: mapGetters(['sales', 'salesPagination'])
}
</script>
