<template lang="html">
    <div>
        <table-filter></table-filter>

        <a-table
            :columns="columns"
            :rowKey="record => record.id"
            :dataSource="data"
            :loading="loading"
            :pagination="false"
        >
            <template slot="logo" slot-scope="record">
                <img :src="record.logo_url" class="img-thumbnail">
            </template>

            <template slot="category" slot-scope="record">
                {{ record.category.name }}
            </template>

            <template slot="action" slot-scope="record">
                <router-link :to="{ name: 'listings.edit', params: {id: record.id}}">
                    <a-button type="primary">Edit</a-button>
                </router-link>
                <a-popconfirm title="Are you sure delete this item?" @confirm="deleteListings(record.id)" okText="Yes" cancelText="No">
                    <a-button type="danger">Delete</a-button>
                </a-popconfirm>
            </template>
        </a-table>

        <a-pagination
            size="small"
            :total="pagination.total"
            :current="pagination.current_page"
             />
    </div>
</template>

<script>
import TableFilter from './TableFilter'

const tableColumns = [
    {
        title: 'Logo',
        key: 'logo',
        scopedSlots: { customRender: 'logo' }
    },
    {
        title: 'Name',
        dataIndex: 'name',
        sorter: true,
    },
    {
        title: 'Category',
        key: 'category',
        scopedSlots: { customRender: 'category' }
    },
    {
        title: 'Owner',
        key: 'owner',
        scopedSlots: { customRender: 'owner' }
    },
    {
        title: 'Action',
        key: 'action',
        scopedSlots: { customRender: 'action' }
    }
]

export default {
    props: ['loading', 'data', 'pagination'],
    components: {
        TableFilter
    },
    data() {
        return {
            columns: tableColumns
        }
    },
    methods: {
        deleteListings(id) {
            this.loading = true
            this.$store.dispatch('deleteListings', id)
        }
    }
}
</script>
