<template lang="html">

    <a-form layout="inline">

        <a-form-item>
            <a-input placeholder="Search">
                <a-icon
                    slot="prefix"
                    type="search"
                    style="color:rgba(0,0,0,.25)"
                />
            </a-input>
        </a-form-item>

        <a-form-item>
            <!-- <multiselect v-model="category" :options="categories" placeholder="Select Category">
                <template slot="option" slot-scope="record">
                    <div>{{ record.name }}</div>
                </template>
            </multiselect> -->
            <a-auto-complete
                :dataSource="selectFormattedCategories"
                style="width: 200px"
                @search="searchCategory"
                placeholder="Category"
            />
        </a-form-item>

    </a-form>

</template>

<script>
import Multiselect from 'vue-multiselect'
import { mapGetters } from 'vuex'

export default {
    data() {
        return {
            q: '',
            category: null,
            owner: null,
            limit: 10,
            status: null
        }
    },
    mounted() {
        this.$store.dispatch('fetchCategories')
    },
    methods: {
        searchCategory(q) {
            this.$store.dispatch('fetchCategories', {q: q})
        }
    },
    components: {
        Multiselect
    },
    computed: mapGetters(['selectFormattedCategories'])
}
</script>
