<template lang="html">
  <a-card :title="title">
    <a-form>

      <a-form-item label="Language" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-radio-group name="radioGroup" defaultValue="id" @change="handleSwitchLang">
          <a-radio value="id">ID</a-radio>
          <a-radio value="en">EN</a-radio>
        </a-radio-group>
      </a-form-item>

      <a-form-item label="Thumbnail" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-upload
          listType="picture-card"
          class="avatar-uploader"
          :showUploadList="false"
          name="image" :multiple="false" action="/api/media/upload"
          :beforeUpload="beforeUploadThumbnail"
          @change="onUploadThumbnailChange">

          <img v-if="image_url" :src="image_url" alt="avatar" class="img-banner-preview" />

          <div v-else>
            <a-icon :type="thumbnail_loading ? 'loading' : 'plus'" />
            <div class="ant-upload-text">Upload</div>
          </div>

        </a-upload>
      </a-form-item>

      <a-form-item label="Parent Category" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-select
          showLoading
          showSearch
          optionFilterProp="children"
          style="width: 200px"
          :filterOption="filterOptionCategory"
          v-model="parent_name" >

            <a-select-option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</a-select-option>

        </a-select>
      </a-form-item>

      <a-form-item label="Name" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-input v-model="name" />
      </a-form-item>

            <!-- <a-form-item label="Description" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="data.slug" />
            </a-form-item> -->

      <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
        <a-button type="primary" html-type="submit" @click="handleSubmit" :loading="loading">
          Submit
        </a-button>
      </a-form-item>

    </a-form>
  </a-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: ['title', 'loading', 'handleSubmit', 'handleSwitchLang'],
  data() {
    return {
      thumbnail_loading: true,
      parent_category_loading: true
    }
  },

  mounted() {
    this.parent_category_loading = true
    this.$store.dispatch('fetchCategories')
  },

  created() {
    this.$eventHub.$on('after-response', this.stopLoading)
    this.$eventHub.$on('response-error', this.stopLoading)
  },

  beforeDestroy() {
    this.$eventHub.$off('after-response', this.stopLoading)
    this.$eventHub.$off('response-error', this.stopLoading)
  },

  computed: {
    ...mapGetters(['category']),
    ...mapGetters(['categories']),
    image_url() {
      return this.category.new_image_url || this.category.image_url || null
    },

    name: {
      set(val) {
        this.updateState({ name: val })
      },
      get() {
        return this.category.name || null
      }
    },

    parent_name: {
      get() {
        return this.category.hasOwnProperty('parent_name') ? this.category.parent_name : this.category.hasOwnProperty('parent') &&  this.category.parent.hasOwnProperty('name') ? this.category.parent.name : null
      },
      set(val) {
        var category = this.categories.find(function(category) {
          return category.id === val
        })

        this.updateState({
          parent_id: val,
          parent_name: category.name || null
        })
      }
    },

    parent_id() {
      return this.category.parent_id || null
    }

  },

  methods: {
    updateState(data) {
      this.$store.dispatch('setSelectedCategory', data)
    },

    filterOptionCategory(input, option) {
      return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
    },

    beforeUploadThumbnail() {
      this.updateState({ image_url: null })
      this.thumbnail_loading = true
    },

    onUploadThumbnailChange(info) {
      const status = info.file.status

      if(status === 'done') {
        this.updateState({ new_image_url: info.fileList[0].response.url })
      }
    },

    onParentSelectChange(value, option) {
      console.log(value, option)
    },

    stopLoading() {
      this.thumbnail_loading = false
      this.parent_category_loading = false
    }
  }
}
</script>
