<template lang="html">
    <a-card title="Category List">

        <router-link slot="extra" :to="{ name: 'categories.create', params: {} }">
            <a-button type="primary">Add Category</a-button>
        </router-link>

        <a-table
            :columns="columns"
            :rowKey="record => record.id"
            :dataSource="data"
            :loading="loading"
            :pagination="false"
        >

            <template slot="thumbnail" slot-scope="record">
                <img :src="record.image_url" class="img-thumbnail">
            </template>

            <template slot="action" slot-scope="record">
                <router-link :to="{ name: 'categories.edit', params: {id: record.id}}">
                    <a-button type="primary">Edit</a-button>
                </router-link>
                <a-popconfirm title="Are you sure delete this item?" @confirm="deleteCategories(record.id)" okText="Yes" cancelText="No">
                    <a-button type="danger">Delete</a-button>
                </a-popconfirm>
            </template>
        </a-table>

        <a-pagination
            size="small"
            :total="pagination.total"
            :current="pagination.current_page"
             />

    </a-card>
</template>

<script>

const tableColumns = [
    {
        title: 'Thumbnail',
        key: 'thumbnail',
        scopedSlots: { customRender: 'thumbnail' }
    },
    {
        title: 'Name',
        dataIndex: 'name',
    },
    {
        title: 'Action',
        key: 'action',
        scopedSlots: { customRender: 'action' }
    }
]

export default {
    props: ['loading', 'data', 'pagination'],
    components: {
    },
    data() {
        return {
            columns: tableColumns
        }
    },
    methods: {
        deleteCategories(id) {
            this.loading = true
            this.$store.dispatch('deleteCategories', id)
        }
    }
}
</script>
