<template lang="html">
    <fe-main :breadcrumbs="['Listings']">

        <a-card title="Listings">

            <router-link slot="extra" :to="{ name: 'listings.create', params: {} }">
                <a-button type="primary">Add Listings</a-button>
            </router-link>

            <listing-table
                :data="listings"
                :columns="table.columns"
                :loading="table.loading"
                :pagination="listingsPagination"
            >
            </listing-table>
        </a-card>
    </fe-main>
</template>

<script>
import ListingTable from './_partials/ListingTable'
import { mapState, mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            table: {
                loading: false
            }
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    mounted() {
        this.table.loading = true
        this.$store.dispatch('fetchListings')
    },
    components: {
        ListingTable
    },
    methods: {
        stopLoading() {
            this.table.loading = false
        }
    },
    computed: mapGetters(['listings', 'listingsPagination'])
}
</script>
