<template>
    <a-layout id="components-layout-demo-side" style="min-height: 100vh">

        <sidebar />

        <a-layout>
            <a-layout-header style="background: #fff; padding: 0">
                <!-- <navbar /> -->
            </a-layout-header>
            <transition name="fade" mode="out-in">
                <a-layout-content style="margin: 0 16px">
                    <router-view></router-view>
                </a-layout-content>
            </transition>
            <a-layout-footer style="text-align: center">
                Ant Design ©2018 Created by Ant UED
            </a-layout-footer>
        </a-layout>
    </a-layout>
</template>

<script>
import Navbar from './components/Navbar'
import Sidebar from './components/Sidebar'

export default {
    data() {
        return {
            collapsed: false,
        }
    },
    components: {
        Navbar,
        Sidebar
    }
}
</script>

<style>
#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}
</style>
