.cl-primary {
    color: $fe-color-main;
}

.fluid {
    width: 100%;
}

.no-gutter {
    padding: 0;
}

.xs-no-gutter {
    @include media-breakpoint-down(xs) {
        padding: 0;
    }
}

.mt70 {
    margin-top: 70px;
}
