a:hover {
    text-decoration: none;
}

// body {
//     width: 100vw;
//     overflow-x: hidden;
// }

.text-elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fe-align-center {
    align-items: center;
    display: flex;
}

.fe-inline-list {
    padding-left: 0;
}

.mt80 {
    margin-top: 80px;
}

.ml-20 {
    margin-left: 20px;
}

body {
    background-color: $color-bg;
    margin: 0;
    padding: 0;
    line-height: 1.78;
    font-size: 14px;
    font-weight: 400;
    font-family: roboto,sans-serif;
    color: #70778b;
    letter-spacing: .02em;
}
