@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900|Roboto:400,500,700');

/*!
* Based on Bootstrap (https://getbootstrap.com)
*/

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
//
// Colors

$theme-colors: (
  primary: #12bbad,
  secondary: #4f70ce,
  light: #f3f3f3,
  dark: #151515,
  info: #ccc,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$color-primary: #12bbad;
$color-secondary: #4f70ce;
$color-light: #f3f3f3;
$color-dark: #151515;
$color-info: #ccc;
$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-foreground: #252c41;
$color-muted: #70778b;
$color-bg: #f3f3f6;
$color-border: #f3f3f6;

$body-bg: white;
$body-color: #333;


$body-color-inverse: invert($body-color) !default;
$link-color: #12bbad;

// Fonts
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: $font-family-base;
$display-font-family: $font-family-base;
$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size:   1.30rem;

$font-family-sans-serif: "Poppins", sans-serif;

$spacer: 1.5rem;

// fe colors
$fe-color-main: #00DFFC;
$fe-color-secondary: #00B4CC;
$fe-color-ground: #008C9E;
$fe-color-dark: #005F6B;
$fe-color-darken: #343838;

// transition
$fe-transition-cubic: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;

// navbar
$fe-color-navbar_border: rgba($color: white, $alpha: 0.15);
$fe-color-navbar_border--sticky: rgba($color: $fe-color-main, $alpha: 0.15);
$fe-color-navbar_text: white;
$fe-color-navbar_text--hover: $fe-color-main;
$fe-color-navbar_text--active: $fe-color-main;
$fe-color-navbar_bg: transparent;
$fe-color-navbar_bg--sticky: $fe-color-darken;

// carousel
$fe-color-carousel-title: white;
$fe-color-carousel-subtitle: darken($color: white, $amount: 20);

// swiper
$fe-color-swiper_bg: white;
$fe-color-swiper_link: $fe-color-main;
$fe-color-swiper_info: darken($color: white, $amount: 20);
$fe-color-swiper_divider: rgba($color: $color-light, $alpha: 0.5);
$fe-color-swiper_category: white;
$fe-color-swiper_category--hover: white;

// cards
$fe-card-icon_bg--hover: $fe-color-main;
$fe-card-icon_title: lighten($color: $fe-color-darken, $amount: 10);
$fe-card-icon_meta: $fe-color-darken;

$fe-card-listing_title: lighten($color: $fe-color-darken, $amount: 10);
$fe-card-listing_title--hover: $fe-color-main;


$fe-card-subcategory_bg: white;
$fe-card-subcategory_bg--hover: $fe-color-main;
$fe-card-subcategory_title: $fe-color-darken;
$fe-card-subcategory_title--hover: $fe-color-main;

// location
$fe-color-location_title: white;
$fe-color-location_meta: white;
$fe-color-location_meta_icon: $fe-color-main;

// fe fonts
$fe-font-navbar: "Poppins", sans-serif;

// carousel
$fe-font-carousel-title: "Poppins", sans-serif;
