<template lang="html">

  <a-form>

    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-upload
        listType="picture-card"
        class="avatar-uploader"
        :showUploadList="false"
        name="image" :multiple="false" action="/api/media/upload"
        :beforeUpload="beforeUpload"
        @change="onUploadChange">

        <img v-if="image_url" :src="image_url" alt="avatar" class="img-banner-preview" />

        <div v-else>
          <a-icon :type="upload_loading ? 'loading' : 'plus'" />
          <div class="ant-upload-text">Upload</div>
        </div>

      </a-upload>
    </a-form-item>

    <a-form-item label="Category" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input name="category_id" v-model="category_id"/>
    </a-form-item>

    <a-form-item label="Group" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-select style="width: 100%" v-model="group">
        <a-select-option value="top">Top</a-select-option>
        <a-select-option value="side">Side</a-select-option>
      </a-select>
    </a-form-item>

    <a-form-item label="Display Date" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-range-picker v-model="display_date"/>
    </a-form-item>

    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button type="primary" html-type="submit" :loading="loading" @click="handleSubmit">
        Submit
      </a-button>
    </a-form-item>

  </a-form>

</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'

export default {
  props: ['loading', 'handleSubmit'],
  data() {
    return {
      upload_loading: true
    }
  },
  created() {
    this.$eventHub.$on('after-response', this.stopLoading)
    this.$eventHub.$on('response-error', this.stopLoading)
  },
  beforeDestroy() {
    this.$eventHub.$off('after-response', this.stopLoading)
    this.$eventHub.$off('response-error', this.stopLoading)
  },
  computed: {
    ...mapGetters(['banner']),

    category_id: {
      set(val) {
        this.updateState({ category_id: val })
      },
      get() {
        return this.banner.category_id || null
      }
    },

    category_name: {
      set(val) {
        this.updateState({ category_name: val })
      },
      get() {
        return this.banner.category.name || null
      }
    },

    group: {
      set(val) {
        this.updateState({ group: val })
      },
      get() {
        return this.banner.group || null
      }
    },

    display_date: {
      set(val) {
        this.updateState({
          display_date: val[0].format('YYYY-MM-DD'),
          expired_date: val[1].format('YYYY-MM-DD')
        })
      },
      get() {
        var display_date = this.banner.display_date
        var expired_date = this.banner.expired_date

        var date = null

        if (display_date || expired_date) {
          date = []
        }

        if (display_date) {
          date[0] = moment(display_date)
        }

        if (expired_date) {
          date[1] = moment(expired_date)
        }

        return date
      }
    },

    image_url() {
      return this.banner.new_image_url || this.banner.image_url || null
    }

  },
  methods: {
    updateState(data) {
      this.$store.dispatch('setSelectedBanner', data)
    },

    beforeUpload() {
      this.updateState({ image_url: null })
      this.upload_loading = true
    },

    onUploadChange(info) {
      const status = info.file.status

      if(status === 'done') {
        this.updateState({ new_image_url: info.fileList[0].response.url })
      }
    },

    stopLoading() {
      this.upload_loading = false
    }
  }
}
</script>
