<template lang="html">
    <a-card title="Banner List">

        <router-link slot="extra" :to="{ name: 'banners.create', params: {} }">
            <a-button type="primary">Add Banner</a-button>
        </router-link>

        <a-table
            :columns="columns"
            :rowKey="record => record.id"
            :dataSource="data"
            :loading="loading"
            :pagination="false"
        >
            <template slot="thumbnail" slot-scope="record">
                <img :src="record.image_url" alt="Image Not Found" class="img-thumbnail">
            </template>

            <template slot="action" slot-scope="record">
                <router-link :to="{ name: 'banners.edit', params: {id: record.id}}">
                    <a-button type="primary">Edit</a-button>
                </router-link>
                <a-popconfirm title="Are you sure delete this item?" @confirm="deleteBanners(record.id)" okText="Yes" cancelText="No">
                    <a-button type="danger">Delete</a-button>
                </a-popconfirm>
            </template>
        </a-table>

        <a-pagination
            size="small"
            :total="pagination.total"
            :current="pagination.current_page"
             />

    </a-card>
</template>

<script>
import { mapActions } from 'vuex'

const tableColumns = [
    {
        title: 'Thumbnail',
        key: 'thumbnail',
        scopedSlots: { customRender: 'thumbnail' }
    },
    {
        title: 'Category',
        dataIndex: 'category',
        sorter: true,
    },
    {
        title: 'Group',
        dataIndex: 'group',
        filters: [
            { text: 'Top', value: 'top' },
            { text: 'Side', value: 'side' }
        ]
    },
    {
        title: 'Display Date',
        dataIndex: 'display_date',
        sorter: true,
    },
    {
        title: 'Expired Date',
        dataIndex: 'expired_date',
        sorter: true,
    },
    {
        title: 'Action',
        key: 'action',
        scopedSlots: { customRender: 'action' }
    }
]

export default {
    props: ['loading', 'data', 'pagination'],
    components: {
    },
    data() {
        return {
            columns: tableColumns
        }
    },
    methods: {
        deleteBanners(id) {
            this.loading = true
            this.$store.dispatch('deleteBanner', id)
        }
    }
}
</script>
