<template lang="html">
    <fe-main :breadcrumbs="['Members', 'Edit']">
        <plan-form
            title="Edit Plan"
            :loading="loading"
            :data="planData"
            :handleSubmit="handleSubmit"
        />
    </fe-main>
</template>

<script>
import PlanForm from './_partials/PlanForm'

export default {
    props: ['id'],
    data() {
        return {
            loading: false
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    components: {
        PlanForm
    },
    mounted() {
        this.loading = true
        this.$store.dispatch('showPlans', this.id)
    },
    methods: {
        handleSubmit() {
            this.loading = true
            this.$store.dispatch('createPlans', this.planData)
        },
        stopLoading() {
            this.loading = false
        }
    },
    computed: {
        planData() {
            return this.$store.state.plans.selected
        }
    }
}
</script>
