<template lang="html">
    <fe-main :breadcrumbs="['Plans']">
        <plan-table
            :data="plans"
            :loading="table.loading"
            :pagination="plansPagination"
        />
    </fe-main>
</template>

<script>
import PlanTable from './_partials/PlanTable'

import { mapState, mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            table: {
                loading: false
            }
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    mounted() {
        this.table.loading = true
        this.$store.dispatch('fetchPlans')
    },
    components: {
        PlanTable
    },
    methods: {
        stopLoading() {
            this.table.loading = false
        }
    },
    computed: mapGetters(['plans', 'plansPagination'])
}
</script>
