.jb-side-banner-card {
    margin: 5px auto;

    margin-bottom: 20px;

    &.banner-mobile {
        .jb-side-banner-img {
            padding-top: 100%;
        }
    }

    @include media-breakpoint-down(xs) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
