.fe-city {

    padding-bottom: 0;

    .fe-location-card {
        margin-bottom: 15px;
        margin-right: 7.5px;
        margin-left: 7.5px;
        overflow: hidden;

        position: relative;

        .fe-img-container {
            img {
                transition: $fe-transition-cubic;;
            }
        }

        .location-info {
            position: absolute;
            top: 15px;
            left: 15px;

            .title {
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 10px;
                a {
                    color: $fe-color-location_title;
                }
            }

            .meta {
                font-weight: 500;
                color: $fe-color-location_meta;
                i {
                    color: $fe-color-location_meta_icon;
                }
            }
        }

        &:hover {
            .fe-img-container {
                img {
                    transform: scale(1.05);
                    transition: $fe-transition-cubic;
                }
            }
        }
    }
}
