.fe-subcategory {
    background-color: $fe-card-subcategory_bg;
    margin: 5px;
    box-shadow: 0 0 60px 0 rgba(37,44,65,.08);
    transition: all .3s ease;

    .fe-body {
        padding: 5px 30px;
        display: flex;
        align-items: center;

        .fe-content {
            margin-left: 0;
            margin-right: auto;

            .fe-title {
                color: $fe-card-subcategory_title;
                font-weight: 500;
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
                margin-top: 2px;
            }

            .fe-meta {
                font-size: 14px;
                margin: 0;
                color: darken($color: $fe-card-icon_meta, $amount: 30);
                white-space: nowrap;
            }

        }

        .fe-arrow {
            margin-left: auto;
            margin-right: 0;
            display: block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            background-color: #fbfbfc;
            text-shadow: -80px 0 0 transparent, 0 0 0 #9ea6ba;
            color: transparent;
            border-radius: 50%;
            font-size: 16px;
            text-align: center;
            overflow: hidden;
            transition: all .3s ease;
        }

    }

    &:hover {
        background-color: $fe-card-subcategory_bg--hover;
        transition: all .3s ease;

        .fe-arrow {
            background-color: rgba(255,255,255,.2);
            text-shadow: 0 0 0 #fff, 80px 0 0 transparent;
        }
    }

    @include media-breakpoint-down(xs) {
      .fe-body {

        .fe-content {

          .fe-title {
            font-size: 12px;
          }

          .fe-meta {
            font-size: 12px;
          }

        }

      }
    }
}
