$fe-carousel-height: calc(100vh);

.fe-carousel {
    height: $fe-carousel-height;
    width: 100%;
    position: relative;

    .fe-carousel-caption {
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 76px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        vertical-align: middle;
        align-items: center;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
            left: 15px;
            right: 15px;
            top: 85px;
        }

        .fe-carousel-menu {
            display: block;
            max-width: 900px;
            margin: 0 auto;
        }

        .caption-wrapper {
            width: 800px;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }

        .fe-carousel-title {
            color: $fe-color-carousel-title;
            margin: 0;
            margin-bottom: 15px;
            font-size: 50px;
            font-weight: 600;
            line-height: 1.4em;
            font-family: $fe-font-carousel-title;

            @include media-breakpoint-down(xs) {
                font-size: 24px;
            };
        }

        .fe-carousel-subtitle {
            color: $fe-color-carousel-subtitle;
            font-size: 17px;
            font-weight: 400;
            font-family: roboto,sans-serif;
            letter-spacing: .02em;

            @include media-breakpoint-down(xs) {
                line-height: 1.1;
                font-size: 16px;
            }
        }
    }

    img {
        height: $fe-carousel-height;
        width: 100%;
        object-fit: cover;
    }

}

@import "./fe-filter-form";
