.fe-card-icon {
    position: relative;
    margin: 0 auto 30px;
    box-shadow: 0 0 60px 0 rgba(37,44,65,.08);
    background-color: #fff;
    transition: all .3s ease;

    .fe-body {
        overflow: hidden;

        .fe-title {
            font-weight: 500;
            color: $fe-card-icon_title;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .fe-meta {
            color: $fe-card-icon_meta;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:hover {
        background-color: $fe-card-icon_bg--hover;
        .fe-body {
            color: #fff!important;

            .fe-arrow {
                background-color: rgba(255,255,255,.2);
                text-shadow: 0 0 0 #fff, 80px 0 0 transparent;
            }
        }
    }

    a {
        display: block;

        .fe-cover {
            text-align: center;
            width: 106px;
            height: 106px;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            overflow: hidden;
            transform: translate(-50%,-83%);
            color: #fff;
            background-repeat: no-repeat;
            background-size: cover;

            .icon {
                img {
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                }
                text-align: center;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: perspective(1px) translateY(-50%);
            }
        }

        &:after {
            content: "";
            display: block;
            padding-top: 100%;

            @include media-breakpoint-down(sm) {

            }

            @include media-breakpoint-down(xs) {
                padding-top: 80%;
            }
        }
    }

    .fe-overlay {
        opacity: .5;
        background-image: linear-gradient(45deg,#006bf7 0%,#ed6392 100%);
        background-color: rgba(37,44,65,.7);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .fe-body {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 0 30px 30px;

        .fe-title {
            padding-right: 40px;
            transition: all .3s ease;
            font-size: 13px;
        }

        .fe-meta {
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 14px;
            padding-right: 40px;
            transition: all .3s ease;
        }

        .fe-arrow {
            display: block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            background-color: #fbfbfc;
            text-shadow: -80px 0 0 transparent, 0 0 0 #9ea6ba;
            color: transparent;
            border-radius: 50%;
            font-size: 16px;
            position: absolute;
            top: 14px;
            right: 30px;
            text-align: center;
            overflow: hidden;
            transition: all .3s ease;
        }
    }

    @include media-breakpoint-down(sm) {
      .fe-body {
        .fe-meta {
          font-size: 11px;
        }
        .fe-title {
          font-size: 12px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
        margin: 5px;

        .fe-body {
            padding: 15px;

            .fe-meta {
                font-size: 10px;
            }

            .fe-arrow {
                right: 15px;
            }

            .fe-title {
                font-size: 11px;
            }
        }

        a {
            .fe-cover {
                height: 70px;
                width: 70px;

                .icon {
                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}

.fe-card-listing {
    background-color: white;
    margin: 7.5px;
    margin-bottom: 15px;

    // &:after {
    //     content: '';
    //     position: absolute;
    //     left: 20px;
    //     right: 20px;
    //     bottom: 0;
    //     z-index: -1;
    //     height: 50px;
    //     border-radius: 50%;
    //     box-shadow: 0 10px 14px 0 rgba(37,44,65,.04);
    //     transition: all .3s ease;
    // }

    .card-header {
        padding: 0;

        .card-banner {
            position: relative;
            display: block;
            overflow: hidden;

            .overlay {
                opacity: 0;
                background-color: #121113;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        .card-logo-container {
            position: relative;

            .card-logo {
                position: absolute;
                top: -24px;
                height: 48px;
                width: 48px;
                left: 37px;
                border-radius: 50%;
                overflow: hidden;
                z-index: 1;
            }

            .card-logo-bg {
                position: absolute;
                width: 122px;
                background-position: right top;
                background-repeat: no-repeat;
                background-size: 122px 48px;
                top: -26px;
                left: 0;
                height: 55px;
            }
        }
    }

    .card-footer {
        position: relative;
        padding: 10px 22px;
        background-color: #fff;
        clear: both;

        .left-menu {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .icon-box {
                vertical-align: middle;

                img {
                    height: 36px;
                    width: 36px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 5px;
                }

                span {
                    color: $color-muted;
                    text-transform: capitalize;

                    &:hover {
                        color: $fe-color-main;
                    }
                }
            }
        }
    }

    .card-body {
        padding: 45px 22px;
        padding-bottom: 15px;

        .card-title {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
            color: $fe-card-listing_title;
            font-family: poppins,sans-serif;

            &:hover {
                color: $fe-card-listing_title--hover;
            }
        }

        .card-excerpt {
            margin-bottom: 7px;
        }

        .card-contact {
            font-size: 13px;
            color: $color-muted;

            a {
                i {
                    width: 15px;
                    color: $color-primary;
                }
                display: inline-block;
                max-width: 100%;
                width: 100%;
                margin-bottom: 0px;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        margin: 5px;

        .card-header {
            .card-logo-container {
                .card-logo {
                    height: 30px;
                    width: 30px;
                    left: 31px;
                    top: -19px;
                }

                .card-logo-bg {
                    width: 98px;
                    background-size: 91px 44px;
                    top: -24px;
                    left: -6px;
                    height: 55px;
                }
            }
        }

        .card-body {
            padding-top: 30px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 10px;

            .card-title {
                font-size: 13px;
            }

            .card-excerpt {
                font-size: 12px;
            }

            .card-contact {
                font-size: 12px;
                margin-top: 5px;
                a {
                    line-height: 1;
                }
            }
        }

        .card-footer {
            padding: 5px;

            .icon-box {
                a {
                    font-size: 12px;
                }

                img {
                    display: none;
                }
            }
        }
    }

    &:hover {
        .card-header {
            .card-banner {
                .overlay {
                    opacity: 0.3;
                    transform: translate3d(0,0,0);
                    transition: all .3s ease;
                }

                img {
                    transition: all .6s ease;
                    will-change: transform;
                    border-radius: 3px 3px 0 0;
                    transform: scale(1.1);
                }
            }
        }
    }
}
