.fe-footer {
    padding-top: 90px;
    background-color: $color-foreground;
    color: darken($color: $color-light, $amount: 10);
    font-family: poppins,sans-serif;
    font-size: 14px;

    a {
        color: darken($color: $color-light, $amount: 10);
    }

    .fe-widget {

        .widget-title {
            color: darken($color: $color-primary, $amount: 10);
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .img-logo {
            margin-bottom: 20px;
        }

        .fe-stats {
            .stats-item {
                margin-bottom: 10px;
                display: flex;

                .icon-wrap {
                    min-width: 50px;
                    font-size: 20px;
                    text-align: center;
                    opacity: .6;
                    padding-top: 5px;
                }

                .stats-text {
                    display: flex;
                    align-items: center;

                    p.stats-text-title {
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                }
            }
        }

    }

    .fe-footer-copy {
        margin-top: 50px;
        border-top: 1px solid darken($color: $color-light, $amount: 50);

        p {
            margin: 20px 0;
        }
    }

    @include media-breakpoint-down(xs) {

    }
}
