#filterForm {
    border: none;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
    margin: 0;
    padding: 0;

    .ladda-button {
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
    }

    .ladda-label {
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
    }

    .ladda-button .ladda-label {
        position: relative;
        z-index: 3;
    }

    .ladda-button[data-style=expand-right] .ladda-spinner {
        right: -6px;
    }

    .ladda-button, .ladda-button .ladda-spinner, .ladda-button .ladda-label {
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
    }

    .ladda-button .ladda-spinner {
        position: absolute;
        z-index: 2;
        display: inline-block;
        width: 32px;
        top: 50%;
        margin-top: 0;
        opacity: 0;
        pointer-events: none;
    }

    span {
        border: none;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

    div {
        border: none;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

    .fl-wrap {
        float: left;
        width: 100%;
        position: relative;
    }

    .main-search-input {
        background: #fff;
        padding: 0 0 0 0;
        border-radius: 30px;
        margin-top: 50px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3);

        @include media-breakpoint-down(xs) {
            background: rgba(255, 255, 255, 0.2);
            padding: 14px 20px 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0);
            padding-top: 15px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: -40px;
            width: 50px;
            height: 1px;
            background: rgba(255, 255, 255, 0.41);
            left: 50%;
            margin-left: -25px;
        }

        .main-search-input-item {
            width: 28.89%;
            box-sizing: border-box;
            border-right: 1px solid #eee;
            height: 50px;
            position: relative;

            @include media-breakpoint-up(sm) {
                float: left;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
                border: 1px solid #eee;
                height: 50px;
                border: none;
                margin-bottom: 10px;
            }

            input {
                float: left;
                border: none;
                width: 100%;
                height: 50px;
                padding-left: 20px;
                font-weight: 400;
                color: #566985;
                border-radius: 5px;
                background-color: #FFF;

                &:first-child {
                    border-bottom-left-radius: 30px;
                    border-top-left-radius: 30px;

                    @include media-breakpoint-down(xs) {
                        border-radius: 6px !important;
                        background: #fff;
                    }
                }
            }

            select {
                float: left;
                border: none;
                width: 100%;
                height: 50px;
                padding-left: 20px;
                font-weight: 400;
                color: #566985;
                border-radius: 5px;
                background-color: #FFF;

                option {
                    font-weight: 400;
                    color: #566985;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .main-search-button {
            position: absolute;
            right: 0px;
            height: 50px;
            width: 120px;
            color: white;
            background-color: $fe-color-main;
            top: 0;
            border: none;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            cursor: pointer;
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;

            &:hover {
                background-color: $fe-color-main;
                transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
            }

            @include media-breakpoint-down(xs) {
                position: relative;
                float: left;
                width: 100%;
                border-radius: 6px;
            }
        }
    }
}
