.fe-input {
    input, input.form-control {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        transition: all .3s ease;
        color: $color-light;

        &::placeholder {
            color: rgba($color: $color-light, $alpha: 0.6);
            font-size: 15px;
        }

        &:-ms-input-placeholder {
            color: rgba($color: $color-light, $alpha: 0.6);
            font-size: 15px;
        }

        &::-ms-input-placeholder {
            color: rgba($color: $color-light, $alpha: 0.6);
            font-size: 15px;
        }

        &:focus {
            box-shadow: none;
            outline: none;
            border-color: $color-primary;
        }
    }
}