.fe-navbar {
    transition: transform 0.3s, all .3s, visibility 0.3s, opacity 0.3s;
    border-bottom: 1px solid $fe-color-navbar_border;
    padding: 10px 15px;
    font-family: $fe-font-navbar;
    background-color: $fe-color-navbar_bg;

    a.nav-link {
        font-size: 13px;
        font-weight: 500;
        transition: transform 0.3s, all .3s, visibility 0.3s, opacity 0.3s;
        padding: 0 20px;
    }

    a.btn {
        font-size: 14px;
        font-weight: 500;
    }

    .img-brand {
        max-height: 60px;
        @include media-breakpoint-down(xs) {
            max-width: 200px;
        }
    }

    &.sticky, &.always-sticky {
        background-color: $fe-color-navbar_bg--sticky;
        border-bottom-color: $fe-color-navbar_border--sticky;

        .img-brand {
            max-height: 50px;
        }
    }

    @include media-breakpoint-down(sm) {

        .navbar-nav {
            padding-top: 30px;

            a.nav-link {
                padding: 8px 20px;
            }
        }
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $fe-color-navbar_text;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: $fe-color-navbar_text--active;
}
