.fe-img-container {
    background-color: gray;
    width: 100%;
    height: 100%;
    position: relative;

    span.alt {
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
    }

    img {
        position: absolute;
        object-fit: cover;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    &.r-4-3 {
        padding-top: 75%;
    }

    &.r-4-2 {
        padding-top: 50%;
    }

    &.r-16-5 {
        padding-top: 31.586%;
    }

    &.r-1-1 {
        padding-top: 100%;
    }

    &.r-3-2 {
        padding-top: 66.6666666%;
    }

    &.r-6-2 {
        padding-top: 136.92%;
    }

    &.p-57 {
        padding-top: 57%;
    }

    &.p-36 {
        padding-top: 35%;
    }

    &.p-21 {
        padding-top: 21%;
    }

    &.jb-side-banner-img {
        padding-top: 104.5%;
    }
}
