.fe-swiper {
    margin: 40px;

    @include media-breakpoint-down(xs) {
        margin: 5px;
        margin-top: 20px;
    }

    .jb-swiper-slide {
        width: 250px;
    }
}

.jb-recomend-card {
    position: relative;
    overflow: hidden;

    .fe-thumbnail {
        img {
            transition: $fe-transition-cubic;
        }
    }

    .jb-swiper-caption {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .info-listing {
            padding: 10px 0;
            margin: 0 15px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 42px;

            .jb-listing-link {
                color: $fe-color-swiper_link;
                font-weight: 600;
            }

            .jb-listing-info {
                color: $fe-color-swiper_info;
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

        }

        .info-bottom {
            display: flex;
            align-items: center;
            border-top: 1px solid $fe-color-swiper_divider;
            padding: 10px 0;
            margin: 0 15px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            .jb-category-icon {
                width: 36px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 10px;
                border: 1px solid white;

                .fe-img-container {
                    background-color: transparent;
                    img {
                        padding: 5px;
                    }
                }
            }

            .jb-category-link {
                color: $fe-color-swiper_category;

                &:hover {
                    color: $fe-color-swiper_category--hover;
                }
            }

            .jb-listing-status {
                border: 1px solid;
                padding: 2px 7px;
                margin-left: auto;
                border-radius: 6px;
                font-size: 13px;

                &.listing-open {
                    border-color: lighten($color: $color-success, $amount: 20);
                    color: lighten($color: $color-success, $amount: 20);
                }

                &.listing-close {
                    border-color: lighten($color: $color-danger, $amount: 20);
                    color: lighten($color: $color-danger, $amount: 20);
                }
            }
        }
    }

    &:hover {
        .fe-thumbnail {
            img {
                transform: scale(1.05);
                transition: $fe-transition-cubic;
            }
        }
    }
}

.fe-swiper-outter {
    position: relative;

    .fe-swiper-control {
        position: absolute;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        background-color: white;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
        z-index: 1;
        border-radius: 50%;
        font-size: 29px;

        .control-wrapper {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            text-align: center;

            i {
                margin: 0 auto;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &.swiper-control-prev {
            left: -24px;

            @include media-breakpoint-down(sm) {
                left: 10px;
            }
        }

        &.swiper-control-next {
            right: -24px;

            @include media-breakpoint-down(sm){
                right: 10px;
            }
        }
    }
}
