.fe-section {
    padding: 60px 0;
    background-color: $color-bg;

    @include media-breakpoint-down(xs) {
        padding: 40px 0;
    }

    @include media-breakpoint-down(sm) {
        padding: 60px 0;
    }

    @include media-breakpoint-down(md) {
        padding: 70px 0;
    }

    .fe-section-heading {
        position: relative;
        text-align: center;
        margin-bottom: 100px;

        .heading-background-text {
            font-size: 130px;
            font-weight: 900;
            color: rgba($color: $color-dark, $alpha: 0.1);
            font-family: poppins,sans-serif;
        }

        .fe-heading-text {
            position: absolute;
            left: 0;
            right: 0;
            top: 85px;

            .heading-title {
                font-size: 32px;
                font-weight: 600;
                font-family: poppins,sans-serif;
                max-width: 750;
                margin: 0 auto;
            }
            .heading-subtitle {
                color: $color-muted;
                max-width: 650px;
                font-size: 16px;
                opacity: .9;
                margin: 0 auto;
                line-height: 1.78;
                padding-top: 10px;
                letter-spacing: .02em;
            }
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: 130px;

            .heading-background-text {
                font-size: 72px;
            }

            .fe-heading-text {
                top: 50px;
            }
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 120px;

            .heading-background-text {
                font-size: 60px;
            }

            .fe-heading-text {
                top: 30px;

                .heading-title {
                    font-size: 26px;
                }

                .heading-subtitle {
                    padding-top: 5px;
                    max-width: 550px;
                    line-height: 1.3;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 120px;

            .heading-background-text {
                font-size: 42px;
            }

            .fe-heading-text {
                top: 0;

                .heading-title {
                    font-size: 22px;
                }
            }
        }

        @include media-breakpoint-down(xs) {

            .fe-heading-text {
                left: 15px;
                right: 15px;
                top: 22px;

                .heading-title {
                    font-size: 19px;
                    color: #252c41;
                }

                .heading-subtitle {
                    font-size: 15px;
                }
            }

        }
    }

    &.fe-section-left {
        .fe-section-heading {
            text-align: left;

            .heading-background-text {
                font-size: 120px;
            }

            .fe-heding-text {
                top: 78px;
            }

            .heading-subtitle {
                margin-left: 0;
            }

            @include media-breakpoint-down(lg) {
                margin-bottom: 130px;

                .heading-background-text {
                    font-size: 72px;
                }

                .fe-heading-text {
                    top: 50px;
                }
            }

            @include media-breakpoint-down(xs) {

                .fe-heading-text {
                    left: 15px;
                    right: 15px;
                }
            }
        }
    }
}

.fe-title {
    margin-top: 14px;
    margin-bottom: 6px;
    font-size: 16px;
    color: $color-dark;
    font-weight: 600;
    line-height: 1.4em;
    font-family: poppins,sans-serif;
}

.fe-heading-title {
    font-size: 32px;
    font-weight: 600;
    font-family: poppins,sans-serif;
    max-width: 750;
    margin: 0 auto;
}
