.jb-side-banner-card {
    margin-bottom: 20px;
}

.jb-top-banner {
    margin-bottom: 80px;
}

.jb-banner-header {
    position: relative;

    .fe-carousel-caption {
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: perspective(1px) translateY(-50%);

        .caption-wrapper {
            width: 870px;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }

        .fe-carousel-title {
            color: $color-primary;
            margin: 0;
            margin-bottom: 15px;
            font-size: 50px;
            font-weight: 600;
            line-height: 1.4em;
            font-family: poppins,sans-serif;

            @include media-breakpoint-down(xs) {
                font-size: 32px;
            };
        }

        .fe-carousel-subtitle {
            color: $color-light;
            font-size: 17px;
            font-weight: 400;
            font-family: roboto,sans-serif;
            letter-spacing: .02em;
        }
    }

}
