.fe-carousel {
    height: 100vh;
    width: 100%;
    position: relative;

    .fe-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: $color-dark, $alpha: 0.6);
    }

    .fe-carousel-caption {
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: perspective(1px) translateY(-50%);

        .jb-category-listing {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;

            li {
                display: inline-block;
                margin-top: 20px;
                a {
                    margin: 10px;
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }

            @include media-breakpoint-down(sm) {
                max-width: 300px;
            }
        }

        .caption-wrapper {
            width: 870px;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }

        .fe-carousel-title {
            color: $color-primary;
            margin: 0;
            margin-bottom: 15px;
            font-size: 50px;
            font-weight: 600;
            line-height: 1.4em;
            font-family: poppins,sans-serif;

            @include media-breakpoint-down(xs) {
                font-size: 32px;
            };
        }

        .fe-carousel-subtitle {
            color: $color-light;
            font-size: 17px;
            font-weight: 400;
            font-family: roboto,sans-serif;
            letter-spacing: .02em;
        }
    }

    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .fe-carousel-menu {
        background-color: rgba($color: $color-dark, $alpha: 0.6);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px 0;

        .fe-menu-actions {
            display: inline-block;

            .fe-action {

            }
        }
    }
}
