.jb-contact {
    padding-top: 0;

    .container.fe-section-heading {
        margin-bottom: 60px;
    }

    .text-content {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
    }

    &.fe-section .fe-section-heading .fe-heding-text {
        top: 0;
    }
}

.card-contact {
    background-color: white;

    .card-contact-header {
        padding: 10px 15px;
        border-bottom: 1px solid $color-border;

        i {
            width: 20px;
            text-align: center;
        }
    }

    .card-contact-body {
        padding: 10px 15px;

        a {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: $color-muted;
            margin-bottom: 15px;

            &:hover {
                color: $color-primary;
            }
        }

        .icon-container {
            display: inline-block;
            padding: 4px;
            border-radius: 50%;
            border: 1px solid $color-border;
            background-color: $color-bg;
            overflow: hidden;
            // color: white;
            margin-right: 10px;
        }

        i {
            width: 24px;
            font-size: 20px;
            text-align: center;
        }
    }
}
