.jb-features {
    background-color: white;

    .jb-card-icon {
        margin-bottom: 30px;
        transition: all .3s ease;
        padding: 40px 30px;

        .card-icon {
            font-size: 40px;
            color: $color-primary;
        }

        &:hover {
            box-shadow: 0 5px 50px 0 rgba(37,44,65,.09);
        }
    }
}
