.jb-listing-detail .fe-card-listing .card-header .card-logo-container .card-logo {
    width: 130px;
    height: 130px;
    left: 200px;
    top: -40px;
}

.jb-listing-detail .fe-card-listing .card-header .card-logo-container .card-logo-bg {
    position: absolute;
    width: 280px;
    height: 55px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 280px 130px;
    top: -50px;
    left: 140.5px;
    transform: translate(-50%,0) scaleY(.8) scaleX(.91);
}

.jbl-header {
    .l-header {
        position: relative;
        z-index: 99;
        padding-bottom: 15px;
        background-color: #fff;
        border-bottom: 1px solid #e7e7ed;

        .container {
            position: relative;

            &:before {
                content: " ";
                display: table;
            }
        }
    }
}
