.jb-subcategories {
    padding: 50px 15px;

    .fe-card-icon.jb-subcategory {

        .fe-body {
            padding: 15px 10px;
            padding-left: 22px;
            padding-right: 0;
        }

        .fe-title {
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .fe-arrow {
            top: 22px;
        }

        a {
            &:after {
                padding-top: 27%;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        padding: 30px 15px;
        padding-top: 0;
    }
}

.jb-top-banner {
    margin-bottom: 80px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
    }

    @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
    }
}

.jb-categories {
    padding: 50px 0;
}
