<template lang="html">
    <fe-main :breadcrumbs="['Categories']">
        <category-table
            :data="categories"
            :loading="table.loading"
            :pagination="categoriesPagination"
        />
    </fe-main>
</template>

<script>
import CategoryTable from './_partials/CategoryTable'

import { mapState, mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            table: {
                loading: false
            }
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    mounted() {
        this.table.loading = true
        this.$store.dispatch('fetchCategories')
    },
    components: {
        CategoryTable
    },
    methods: {
        stopLoading() {
            this.table.loading = false
        }
    },
    computed: mapGetters(['categories', 'categoriesPagination'])
}
</script>
