<template lang="html">
    <fe-main :breadcrumbs="['Category', 'Create']">
        <category-form
            title="Create Category"
            :loading="loading"
            :data="categoryData"
            :handleSubmit="handleSubmit"
        />
    </fe-main>
</template>

<script>
import CategoryForm from './_partials/CategoryForm'

export default {
    props: ['id'],
    data() {
        return {
            loading: false
        }
    },
    created() {
        this.$eventHub.$on('after-response', this.stopLoading)
        this.$eventHub.$on('response-error', this.stopLoading)
    },
    beforeDestroy() {
        this.$eventHub.$off('after-response', this.stopLoading)
        this.$eventHub.$off('response-error', this.stopLoading)
    },
    components: {
        CategoryForm
    },
    methods: {
        handleSubmit() {
            this.loading = true
            this.$store.dispatch('createCategories', this.categoryData)
        },
        stopLoading() {
            this.loading = false
        }
    },
    computed: {
        categoryData() {
            return this.$store.state.categories.selected
        }
    }
}
</script>
