<template lang="html">
  <fe-main :breadcrumbs="['Category', 'Edit']">
    <category-form
      title="Edit Category"
      :loading="loading"
      :handleSubmit="handleSubmit"
      :handleSwitchLang="handleSwitchLang"
    />
  </fe-main>
</template>

<script>
import CategoryForm from './_partials/CategoryForm'

export default {
  props: ['id'],

  data() {
    return {
      loading: true
    }
  },

  created() {
    this.$eventHub.$on('after-response', this.stopLoading)
    this.$eventHub.$on('response-error', this.stopLoading)
  },

  beforeDestroy() {
    this.$eventHub.$off('after-response', this.stopLoading)
    this.$eventHub.$off('response-error', this.stopLoading)
  },

  components: {
    CategoryForm
  },

  mounted() {
    this.$store.dispatch('resetSelectedCategory')
    this.$store.dispatch('showCategory', this.id)
  },

  methods: {

    handleSubmit() {
      this.loading = true
      this.$store.dispatch('updateCategory')
    },

    handleSwitchLang(target) {
      this.loading = true
      this.$store.dispatch('resetSelectedCategory')
      this.$store.dispatch('setCategoryLang', target.value)
      this.$store.dispatch('showCategory', this.id)
    },

    stopLoading() {
        this.loading = false
    },
  }
}
</script>
