<template lang="html">
    <main>
        <a-breadcrumb style="margin: 16px 0">
            <a-breadcrumb-item v-for="(item, index) in breadcrumbs" :key="index">{{ item }}</a-breadcrumb-item>
        </a-breadcrumb>
        <div :style="{ padding: '24px', background: '#fff', minHeight: '360px' }">
            <slot></slot>
        </div>
    </main>
</template>

<script>
export default {
    props: {
        breadcrumbs: Array
    }
}
</script>
