<template lang="html">
    <a-layout-sider collapsible v-model="collapsed">
        <div class="logo">
            <img src="/img/logo-jb.png" alt="JogaBagus" class="img-logo">
        </div>

        <a-menu theme="dark" :defaultSelectedKeys="['1']" mode="inline">
            <a-menu-item key="home">
                <router-link :to="{ name: 'home', params: {} }">
                    <a-icon type="pie-chart" />
                    <span>Dashboard</span>
                </router-link>
            </a-menu-item>

            <a-sub-menu key="user">
                <span slot="title">
                    <a-icon type="user" />
                    <span>User</span>
                </span>
                <a-menu-item key="members">
                    <router-link :to="{ name: 'members', params: {} }">
                        Members
                    </router-link>
                </a-menu-item>
                <a-menu-item key="sales">
                    <router-link :to="{ name: 'sales', params: {} }">
                        Sales
                    </router-link>
                </a-menu-item>
            </a-sub-menu>

            <a-sub-menu key="listing">
                <span slot="title">
                    <a-icon type="bars"/>
                    <span>Listing</span>
                </span>

                <a-menu-item key="plans">
                    <router-link :to="{ name: 'plans', params: {} }">
                        Plans
                    </router-link>
                </a-menu-item>
                <a-menu-item key="categories">
                    <router-link :to="{ name: 'categories', params: {} }">
                        Category
                    </router-link>
                </a-menu-item>
                <a-menu-item key="listings">
                    <router-link :to="{ name: 'listings', params: {} }">
                        Listings
                    </router-link>
                </a-menu-item>
            </a-sub-menu>

            <a-sub-menu key="paid-services">
                <span slot="title">
                    <a-icon type="safety-certificate"/>
                    <span>Paid Services</span>
                </span>

                <a-menu-item key="banners">
                    <router-link :to="{ name: 'banners', params: {} }">
                        Banner Ads
                    </router-link>
                </a-menu-item>
                <a-menu-item>
                    <router-link :to="{ name: 'toplists', params: {} }">
                        Top List
                    </router-link>
                </a-menu-item>
            </a-sub-menu>

        </a-menu>
    </a-layout-sider>
</template>

<style media="screen">
    .img-logo {
        max-width: 100%;
    }
</style>

<script>
export default {
    data() {
        return {
            collapsed: false
        }
    }
}
</script>
